<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.library.aritic">

    <application
        android:usesCleartextTraffic="true">
        <activity android:name=".Ui.WebViewActivity">
            <intent-filter>
                <action android:name="com.library.aritic.Ui.WebViewActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name=".PushNotification.NotificationReceiver" />
        <receiver
            android:name=".PushNotification.ActionReceiver"
            android:enabled="true" />
    </application>

</manifest>